
GloVe-master/vocab.txt

GloVe-master/vectors.txt

GloVe-master/vectors.bin

GloVe-master/cooccurrence.bin

GloVe-master/cooccurrence.shuf.bin

GloVe-master/text8

books/genji/kencho/genjireducedtext.pickle

*.pickle0

*.pickle

books/genji/mccullough/Genji &amp; Heike: Selections from The Tale of Genji and The Tale of the Heike.pdf

*.pickle

books/genji/seidensticker/genjitext.pickle

books/genji/washburn/genjireducedtext.pickle

books/genji/seidensticker/genjitext.pickle

books/genji/kencho/genjitext.pickle

books/genji/seidensticker/genjitext.pickle

books/genji/washburn/genjireducedtext.pickle

.DS_Store

books/genji/kencho/.DS_Store

books/genji/seidensticker/.DS_Store

books/genji/tyler/.DS_Store

books/genji/washburn/.DS_Store



books/.DS_Store

*.DS_Store

GloVe-hundredyears/.DS_Store

GloVe-hundredyears/.DS_Store

GloVe-master/.DS_Store

GloVe-hundredyears/eval/.DS_Store

books/genji/washburn/.DS_Store
